@import 'css-reset.css';
@import 'layout.css';
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:500');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

html {
    background: #F5F1E5;
    font-size: 10 px;
}

p  { font-size: 1.2rem; line-height: 1.6rem; }
h1 { font-size: 2.4rem;}
h2 { font-size: 2rem; }
h3 { font-size: 1.9rem;}
h4 { font-size: 1.8rem;}
h5 { font-size: 1.6rem;}
h6 { font-size: 1.4rem;}

p, a, li, span {
    color: #3D3933;
    font-family: 'Helvetica Neue', sans-serif;
}

a { color: #fc6e38; }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

h2 {
	padding: 1.6rem 0 1rem;
	text-align: center;
}