.row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 0;
	max-width: 1168px;
}

.content {
	height: 100%;
	width: 100%;
}

.column {
    margin: .5rem;
    padding: .5rem;
}

.column.one,
.column.two,
.column.three,
.column.four,
.column.five,
.column.six,
.column.one:last-child,
.column.two:last-child,
.column.three:last-child,
.column.four:last-child,
.column.five:last-child,
.column.six:last-child { 
    flex: 0 100%;
}

@media only screen and (min-width: 600px) {
    .column.two,
    .column.two:last-child { flex: 0 49%; }
    .column.three,
    .column.three:last-child { flex: 0 33%; }
    .column.five { flex: 0 49%; }   
    .column.five:last-child { flex: 0 100%; }		
	.column.four,
	.column.four:last-child { flex: 0 50%; }			
	.column.six,
	.column.six:last-child { flex: 0 33%; }
}

@media only screen and (min-width: 900px) {
	.column.four,
	.column.four:last-child { flex: 1 24%; }
    .column.five,
	.column.five:last-child { flex: 1 19%; }
	.column.six,
	.column.six:last-child { flex: 1 16; }
}